* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 5px;
  width: 100%;
 
}

body {
  margin: 0;
  background-color: lightblue;
}

.login-form {
  width: 300px; 
  background-color:#eeeff1;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 20px;
}

.text-field {
  font-size: 14px;
  width: 100%;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.submit-btn {
  font-size: 14px;
  background-color: lightblue;
  color: white;
  padding: 10px;
  border: none;
}

.links {
  text-decoration: none;
  text-align: center;
}

.links a {
  font-size: 12px;
  color: #9b9b9b;
}